div#app{
  display: grid;
  min-height: 95vh;
  max-height: 199vh;
  max-width: 70vw;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 10% 80%;
  grid-template-areas: "name name"
                        "links links"
                        "proyects education";
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#name{
  display: grid;
  grid-area: name;
  align-items:center;
  justify-items: left;
  row-gap: 0%;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
}

span#location{
  font-size: small;
}

div#links{
  display: grid;
  grid-area: links;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 50%);
  justify-content: center;
  align-content: baseline;
}

a.social{
  color: rgb(8, 123, 218);
  outline: none;
  text-decoration: none;
}

a.social:active{
  color: rgb(0,123,218);
}

div.social-link{
  display: grid;
  grid-template-columns: 5% 50%;
  justify-items: left;
}

div#proyects{
  display: grid;
  grid-area: proyects;
  grid-template-columns: 90%;
  grid-template-rows: 6% repeat(4, 23%);
  justify-content: center;
}

div.proyect{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 60%;
  grid-template-areas: "proyect-name"
                        "proyect-link"
                        "proyect-description";
  border-top: solid 1px black;
  padding: 5px;
  gap: 5px;
}

div.proyect-name{
  display: grid;
  grid-area: proyect-name;
  align-items: baseline;
  justify-items: left;
}

div.proyect-link{
  display: grid;
  grid-area: proyect-link;
  align-items: end;
  justify-items: left;
}

div.proyect-description{
  display: grid;
  grid-area: proyect-description;
  align-items: baseline;
  justify-items: left;
}

div.proyect-image{
  display: grid;
  grid-area: proyect-image;
}

div#education{
  display: grid;
  grid-area: education;
  grid-template-columns: 100%;
  grid-template-rows: 30% 10% 60%;
  grid-template-areas:  "skills"
                        "college-header"
                        "college";
}

div#skills{
  display: grid;
  grid-area: skills;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "skills-header"
                        "skills-list";
}

div#skills-header{
  display: grid;
  grid-area: skills-header;
  align-items: flex-start;
  justify-items: left;
}

div#skills-list{
  display: grid;
  grid-area: skills-list;
  grid-template-columns: 10% 90%;
}

div#college-header{
  display: grid;
  grid-area: college-header;
  align-items: baseline;
  justify-items: left;
}

div#college{
  display: grid;
  grid-area: college;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 15%);
}

div.edu{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  grid-template-areas: "logo edu-info";
  column-gap: 5px;
}

div.logo{
  display: grid;
  grid-area: logo;
  align-items: baseline;
}

div.edu-info{
  display: grid;
  grid-area: edu-info;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33%);
  align-items: center;
  justify-items: left;
}

span.minimal-info{
  font-size: small;
}
